{
  "extends": "./node_modules/@nihalgonsalves/esconfig/.eslintrc",
  "overrides": [
    {
      // Next pages must be default-exported
      "files": "./src/pages/**/*",
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
